body {
    background: #e4e4e4;
}

#content {
    margin: 5px auto;
    width: 960px;
}

h1 {
    font-family: "Oswald", sans-serif;
}

.you {
    letter-spacing: -3px;
    text-shadow: 0 2px 0 white;
    margin-right: -5px;
    color: #212121;
}

.tube {
    position: relative;
    padding: 8px;
    background-image:-webkit-linear-gradient(bottom, rgb(109, 2, 2) 22%, 
    rgb(201, 0, 0) 61%);
    background-image:-moz-linear-gradient(bottom, rgb(109, 2, 2) 22%, 
    rgb(201, 0, 0) 61%);
    background-image:-o-linear-gradient(bottom, rgb(109, 2, 2)) 22%
    rgb(201, 0, 0) 61%;
    color: #fff;
    letter-spacing: -2px;
    border-radius: 15px;
    box-shadow: 0 15px 20px -5px rgba(0, 0, 0, 0.60)
}
